.panel{
    width: 13em;
}
.panel a {
    font-size: 14px;
    padding: 15px 20px 15px 15px;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #DDD;
    position: relative;
    font-weight: bold;
}

.panel ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.ui-panel-inner {
    padding: 0;
}